{{!-- 友情链接 --}}

<h3 class="link-title">友情链接</h3>
<ul class="link-list">
    <li class="friend-link">
        <a href="http://spdf.me/" class="friend-link" target="_blank">一树小草</a>
    <li class="friend-link">
        <a href="http://www.darkkate.com/" class="friend-link" target="_blank">荒芜之地</a>
    </li>
</ul>