{{!-- 友情链接 --}}

<h3 class="link-title">友情链接</h3>
<ul class="link-list">
    <li class="friend-link">
        <a href="#" class="friend-link" target="_blank">友情链接1</a>
    <li class="friend-link">
        <a href="#" class="friend-link" target="_blank">友情链接2</a>
    </li>
</ul>