{{!-- 分享组件 --}}

<section class="share">
    <h4>分享这篇文章：</h4>
  
    <a class="icon-weibo" href="http://v.t.sina.com.cn/share/share.php?url={{url absolute="true"}}&amp;title={{encode title}}" title="分享到新浪微博" target="_blank">&#xe601;</a>
    <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" title="share to twitter" target="_blank">&#xe602;</a>

</section>