/*
 * 博客公共部分
 */

body
	font 12px, 'Helvetica Neue', Helvetica, Arial, sans-serif
	background #fff url(http://blog-images.u.qiniudn.com/noise-f1-99be850299aaf3f1e91225fa7a97228c.gif) 0 0 repeat

a
	color #1ABC9C
	-webkit-transition color 0.5s
	transition color 0.5s

a:hover
	color #888
	text-decoration none

.typo
	font-size 16px

.pagination
	text-align center


/********* header **************/

.header
	height 80px
	line-height 80px
	background #fff
	padding 0 10%
	z-index 100

#logo
	float left
	h1
		display inline
		margin-right 20px

#logo:hover
	text-decoration none

.nav
	float right
	// margin-right 10%
	margin-top 10px
	font-size 16px
	letter-spacing 3px
	.nav-item
		float left
		margin-left 20px
		a
			display block
			padding 0 5px
		.subscribe
			display none
.nav-open
	color #1ABC9C
.nav-open:hover
	cusor pointer

.nav-open, .nav-mobile
	display none

/******* header end *********/

/*******  main *************/
.main
	margin 50px 10%
	background #fff
	border 1px solid #eee
	.content
		max-width 700px
		margin 0 auto
		padding 80px 8%

/*******  main end *********/

/*******  footer *************/
.footer
	background #333
	color #ddd
	padding 40px 10%
	.link-list
		padding-left 30px
	.link-title
		color #ddd
	.friend-link
		list-style disc
	.footer-item
		float left
		// padding 30px 0
		margin-right 20px
		// border-right 1px solid #ddd
	.copyright
		float right
/*******  footer end *********/

