
@media (max-width: 660px)
	.subtitle
		display none

	.header
		padding 0 5%
		text-align center
		position relative
		border-bottom 1px solid #ddd
	#logo
		float none
		display block 

	.nav
		display none

	.nav-open 
		font-size: 25px;
		border: 1px solid #DDD;
		padding: 9px;
		line-height: 25px;
		margin-top: 18px;
		display: block;
		position: absolute;
		top: 0;
		right: 5%;

	.nav-mobile
		display block
		height 50px
		line-height 50px
		font-size 18px
		background #fff
		-webkit-transition all 0.5s
		margin-top -52px
		.nav
			display block
			float left
			margin-top 0
		.nav-item
			float left
			width 33.3%
			margin-left 0
			text-align center
			letter-spacing 3px

	.nav-mobile-open
		margin-top 0

	.main
		margin 0
		border-top 1px solid #ddd
		.content
			padding 20px 6%

	.footer
		padding 30px 5%
		.footer-item
			margin-right 0
